@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(0, 61, 61);
  background-color: limegreen;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-image: linear-gradient(
    to right top,
    #164181,
    #0074b6,
    #00a4b4,
    #00ce7c,
    #a8eb12
  );
}

.header {
  color: white;
  text-shadow: 2px 2px 5px black;
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
}

.App {
  text-align: center;
}

.btn {
  padding: 0;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  &:hover {
    color: orange;
  }
}

.theclock {
  margin: 20px;
  color: rgb(0, 61, 61);
  // border: 2px solid orange;
  width: 350px;
  min-height: 135px;
  border-radius: 10px;
  background-color: ghostwhite;
  background-color: white;
  box-shadow: 0 15px 25px -15px black;
  .title {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 25px;
  }
  h2 {
    padding-bottom: 10px;
  }
}

.settings-container {
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 30px;
  h2 {
    // font-size: 15px;
  }
}

.each-setting {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
